html {
	background-color: silver;
}

.name {
	font-size: 75px;
	color: black;
	position: absolute;
	top: 15%;
	left: 55%;
	transform: translate(-50%, -50%);
}

.title {
	background-image: url('alabama.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100%;
	text-align: center;
}

.about {
	background-image: url('wallpaper3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100%;
	color: white
}

.section-name {
	font-size: 50px;
	text-align: center;
}

.education {

	background-image: url('wallpaper.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100%;
	color: black
}

.me {

	background-image: url('wallpaper3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100%;
	color: white
}

.school {

	background-image: url('wallpaper.jpg');
	background-size: 300%;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100%;
	color: black
}

